
.forminputchr{
	width: 100%;
	
}

.formdivchr{
	margin: 15px 0 15px 0;
}

.formcheckchr{
	vertical-align: none !important;
	margin: 0 7px !important;
}

.formlabchr{
	font-size: 15px;
}

.formareachr{
	width: 80%;
}

.formfilechr{
	line-height: 0px !important;
}

.formtitlechr{
	color: #a70303 !important;
	font-size: 18px !important;	
}

.formstarchr{
	color: #a70303;
}

.formlegchr{
	width: auto !important;

}

.formfieldchr{
	margin: 0 0 20px 0 !important;
}


